<h2>Moderator Dashboard</h2>

<!-- Bewertungen für Moderatoren -->
<div class="ratings-section">
  <h3>Moderator-Bewertungen</h3>

  <label for="moderator"><strong>Moderator wählen: </strong></label>

  @if (moderators$ | async; as moderators) {

    <select (change)="onModeratorChange($event)">
      @for (mod of moderators; track mod.moderator_id) {
      <option [value]="mod.moderator_id">
        {{ mod.name }}
      </option>
      }
    </select>

  }


  @if (stats$ | async; as stats) {
    <p>
      <strong>Durchschnittliche Bewertung:</strong>
      <span class="stars">
        <!--[].constructor erzeugt einen Array mit 4 Plätzen-->
        @for (star of [].constructor(getRoundedRating(stats.averageRating)); track $index) {
          &#11088; 
        }
      </span> ({{ stats.averageRating }})
    </p>

    <p>
      <strong>Anzahl Stimmen:</strong>
      {{ stats.voteCount }}
    </p>

    <h4>Neueste Bewertungen:</h4>

    <ul>
      @for (rating of stats.latestRatings; track rating.moderator_rating_id) {
      <li>
        @for (star of [].constructor(getRoundedRating(rating.rating_value)); track $index) {
          &#11088; 
        } 
        {{ rating.comment }}
        ({{ rating.created_at | date:'shortDate' }})
      </li>
      }
    </ul>
  }

</div>


<!-- Bewertungen für Playlists -->
 <div class="ratings-section">
  <h3>Playlist-Bewertungen</h3>

  <label for="playlist"><strong>Playlist wählen: </strong></label>

  @if (playlists$ | async; as playlists) {

    <select (change)="onPlaylistChange($event)">
      @for (playlist of playlists; track playlist.playlist_id) {
      <option [value]="playlist.playlist_id">
        {{ playlist.name }}
      </option>
      }
    </select>

  }


  @if (playlistStats$ | async; as playlistStats) {
    <p>
      <strong>Durchschnittliche Bewertung:</strong>
      <span class="stars">
        <!-- erzeugt ein Array mit N Elementen für die Sterne -->
        @for (star of [].constructor(getRoundedRating(playlistStats.averageRating)); track $index) {
          &#11088; 
        }
      </span> ({{ playlistStats.averageRating }})
    </p>

    <p>
      <strong>Anzahl Stimmen:</strong>
      {{ playlistStats.voteCount }}
    </p>

    <h4>Neueste Bewertungen:</h4>

    <ul>
      @for (rating of playlistStats.latestRatings; track rating.playlist_rating_id) {
      <li>
        @for (star of [].constructor(getRoundedRating(rating.rating_value)); track $index) {
          &#11088; 
        } 
        {{ rating.comment }}
        ({{ rating.created_at | date:'shortDate' }})
      </li>
      }
    </ul>
  }

</div>